## Exemple d'échantillonnage aléatoire et stratifié en utilisant l'utilitaire resample

In [6]:
#importation de la classe Resample de la libraire sciki-learn
from sklearn.utils import resample

In [1]:
#importation du jeu données. dataset de la fraude aux AA
import pandas as pd
df = pd.read_csv('FraudeAssuranceAuto.csv')
#pour formater l'affichage
pd.options.display.float_format = '{:.2f}'.format

In [2]:
df.head()

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.00,1.00,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.00,0.00,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.00,0.00,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.00,0.00,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.00,0.00,0,1

In [3]:
df.shape

(500, 14)

In [4]:
#calcul de la proportion d'indvidus par rapport à la caractéristique Fraud Flag dans le jeu de données initial

df['Fraud Flag'].value_counts()/len(df)

Fraud Flag
0   0.66
1   0.34
Name: count, dtype: float64

In [7]:
#creation d'un échantillon aleatoire de 200 instances des 500 du jeu de donées initial
#l'option replace = False pour indiquer que c'est un échantillonnage sans remise
#option random_state pour le seed, générateur aléatoire

ech = resample(df, n_samples=200, replace=False, random_state=0)

In [8]:
ech.shape

(200, 14)

In [9]:
ech.head()

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
90,91,CI,0,NaN,2,Serious,Yes,1908,11872,1,1.00,1.00,1908,0
254,255,CI,38384,Divorced,1,Broken Limb,No,4598,0,0,0.00,0.00,4598,0
283,284,CI,0,NaN,3,Broken Limb,No,5000,6748,1,0.00,0.00,5000,0
445,446,CI,0,NaN,1,Serious,Yes,4384,9195,1,0.00,0.00,4384,0
461,462,CI,0,NaN,1,Soft Tissue,No,6821,0,0,0.00,0.00,0,1

In [10]:
ech['Fraud Flag'].value_counts()/len(ech)

Fraud Flag
0   0.64
1   0.36
Name: count, dtype: float64

In [10]:
#le résultat est que nous avons 200 individus réparti en 128 individus de la classe 0 (Pas de Fraude)
#72 individus de la classe 1 (Fraude)

In [11]:
#creation d'un échantillon aleatoire stratifié de 200 instances 
#option stratify pour spécifier que la stratification se fera relativement à la caractéristique cible : Fraud Flag

ech_s = resample(df, n_samples=200, replace=False, 
                 stratify=df['Fraud Flag'], 
                 random_state=5)

In [12]:
ech_s['Fraud Flag'].value_counts()/len(ech_s)

Fraud Flag
0   0.67
1   0.34
Name: count, dtype: float64

In [13]:
# Nous avons la même proportion dans l'échantillon que le jeu de données de données initial
# relativement a la variable cible Fraud Flag
#C'est le but de la stratification